In [1]:
import pandas as pd

In [2]:
pd.read_csv("../components/Artifacts/test_data.csv")

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,62,0,0,124,209,0,1,163,0,0.0,2,0,2,1
1,53,0,2,128,216,0,0,115,0,0.0,2,0,0,1
2,55,1,0,160,289,0,0,145,1,0.8,1,1,3,0
3,50,0,1,120,244,0,1,162,0,1.1,2,0,2,1
4,48,1,0,130,256,1,0,150,1,0.0,2,2,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,68,1,2,118,277,0,1,151,0,1.0,2,1,3,1
201,41,1,1,135,203,0,1,132,0,0.0,1,0,1,1
202,44,1,2,120,226,0,1,169,0,0.0,2,0,2,1
203,61,1,0,140,207,0,0,138,1,1.9,2,1,3,0
204,58,1,2,112,230,0,0,165,0,2.5,1,1,3,0

In [3]:
import pickle
path="../components/Artifacts/model.pkl"

with open(path,"rb") as obj:
    res=pickle.load(obj)